h1{color: Black; font-family: Helvetica;font-size: 100px;height:60%}
p{color: #4A05D3;  font-family: 'Lobster', cursive;}
ul{color:Green;font-size: 50px;height: 60%}
.title{font-size: 20px; height: 100%
